<body>
    <div class="container">
        <div class="overallShit">
            <div class="bovenBalk">
                <a>hi</a>
                <a>inloggen</a>
            </div>
            <div class="andereShit">
                <a>hallo</a>
            </div>
        </div>
    </div>
</body>