<nav class="header">
    <div class="container-fluid">
        <button type="button" id="sidemenuCollapse" class="btn">
            <span>Toggle Sidebar</span>
        </button>
    </div>
</nav>
<div class="bovenBalk">
    {% for item in bovenBalk %}
        {% if "Inloggen" in item.caption %}
        <div class="paginaNaam">
            <a href="{{ item.href }}">{{ item.caption }}</a>
        </div>
        {% elif "Logo" in item.caption %}
        <div class="logo">
            <a href="{{ item.href }}">{{ item.caption }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>