<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sensor Tracker">

    {% block title %}<title> Sensor Dashboard</title>{% endblock %}
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" sizes="32x32" />

    {# CSS links #}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% include "include/sidemenu.html" %}
        {% include "include/header.html" %}
        <div id="content">
            {%block page_content%}
            {%endblock page_content%}
        </div>
    </div>
    {# The overlay div can be used to close the sidemenu (doesn't work yet.) #}
    <div class="overlay"></div>
    {% include "include/footer.html" %}


</body>
    {% block scripts %}
    {# Script links #}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    {# Script for functionality in every page #}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dismiss, .overlay').on('click', function () {
                $('#sidemenu').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidemenuCollapse').on('click', function () {
                $('#sidemenu').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    {% endblock scripts %}

    {# Block to be able to add scripts to an page. #}
    {% block moreScripts %}{% endblock moreScripts %}
</html>
<head>
    {% block head %}
        <link href="{{ url_for('static', path='/css/global.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <div class="bovenBalk">
            {% for item in bovenBalk %}
                {% if "Inloggen" in item.caption %}
                <div class="paginaNaam">
                    <a href="{{ item.href }}">{{ item.caption }}</a>
                </div>
                {% elif "Logo" in item.caption %}
                <div class="logo">
                    <a href="{{ item.href }}">{{ item.caption }}</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
    </div> 
    <div id="content">{% block content %}{% endblock %}</div> 
    <div id="footer"> 
        {% block footer %} 
            &copy; Copyright 2021 by <a href="http://localhost:8080">HUS</a>. 
        {% endblock %} 
    </div> 
</body>
</html> 
