<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <title>Simple Login Example</title>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
</head>
<body>
    <p><a href="/home">Ga naar Dashboard</a></p>
    <br>
    <h2>Inloggegevens:</h2>
    <table>
      <tr>
        <th>Gebruikersnaam</th>
        <th>Wachtwoord</th>
      </tr>
      <tr>
        <td>johndoe</td>
        <td>secret</td>
      </tr>
      <tr>
        <td>johndoe2</td>
        <td>secret</td>
      </tr>
    </table>
    <br>
    <form id="loginForm">
      <h2>Login:</h2>
        <label for="loginUsernameInput">
        Gebruikersnaam:
        <input id="loginUsernameInput" name="username" placeholder="Username" type="text" value="johndoe2"> <!--TODO: remove input values-->
      </label>
        <br>
      <label for="loginPasswordInput">
        Wachtwoord:
        <input id="loginPasswordInput" name="password" placeholder="Password" type="password" value="secret">
      </label>
      <input id="loginSubmit" type="submit" value="Inloggen">
    </form>
    <br>
    <label for="loginStatus"></label><textarea id="loginStatus" style="height: 100px; width: 400px;"></textarea>
    <h2>Logout:</h2>
    <input id="logoutButton" type="submit" value="Uitloggen">
    <h2>Silent refresh (For testing only):</h2>
    <input id="silentRefreshButton" type="submit" value="Refresh">
</body>
<link rel="stylesheet" href="{{ url_for('static', path='/css/default.css') }}">
<script type="text/javascript" src="{{ url_for('static', path='/js/auth.js') }}"></script>
</html>